@import "helper";

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input {
  background: none;
  outline: none;
  border: 0;
}

::-webkit-input-placeholder {
  color: $color-normal;
}

:-moz-placeholder { /* Firefox 18- */
  color: $color-normal;

}

::-moz-placeholder { /* Firefox 19+ */
  color: $color-normal;

}

::-ms-input-placeholder {
  color: $color-normal;

}

button {
  font: inherit;
}

:focus {
  outline: none;
}