@import "~@/assets/style/helper.scss";
@keyframes rainbow {
  @for $i from 0 through 20 {
    #{percentage($i * 0.05)} {
      color: hsl(random(360%), 75, 75);
    }
  }
}
.calendar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  > .rainbow {
    font-size: 18px;
    text-align: center;

    > span {
      font-size: 18px;
      animation: rainbow 20s alternate infinite forwards;
    }
  }
  > .week {
    padding: 8px 8px;
    display: flex;
    min-width: 14.2857%;
    justify-content: space-between;

    > .dayOfWeek {
      padding: 8px 8px;
      text-align: center;
    }

  }

  > .month {
    display: flex;
    max-width: 100vw;
    min-width: 14.2857%;
    justify-content: space-between;
    flex-wrap: wrap;
    > span {
      max-height: 30px;
      min-width: 30px;
      margin: 3px 10px;
      font-size: 12px;
      color: $color-gray;
      text-align: center;
      line-height: 30px;
      position: relative;
      &:nth-child(7n).month-class{
        color:$color-graygreen;
      }
      &:nth-child(7n-6).month-class{
        color:$color-grayred;
      }
      &.selected::before{
        position: absolute;
        content: ' ';
        width: 30px;
        height: 30px;
        left: -3.5px;
        top: -3.5px;
        border: $color-blueborder;
        border-radius: 50%;
      }
    }
    > .month-class {
      color: $color-normal;
    }

    > .todayBg {
      background: $todayBg;
      border-radius: 50%;

    }



  }

}